.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding-left: 0;
    padding-right: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    height:  100%
}
.divider {
    height: 100px;
    border-bottom: 1px solid #eee;
}